﻿@model WebApplication1.Models.Mensagem

@{
    ViewData["Title"] = "Create";
}
<style>

    body {
        padding-top: 0px;
        background-color: gainsboro;
        background-image: url();
        background-image: url();
        background-repeat: no-repeat;
    }
</style>


<h4>Criar Mensagem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Texto" class="control-label"></label>
                <input asp-for="Texto" type="text" size="300" class="form-control" />
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="DataLeitura" class="control-label"></label>
                    <input asp-for="DataLeitura" class="form-control" />
                    <span asp-validation-for="DataLeitura" class="text-danger"></span>
                </div>*@
            <div class="form-group form-check">
                @*<label asp-for="Direcao" class="form-check-label">
                        <input  value="Professor" disabled="disabled"  asp-for="Direcao"/> @Html.DisplayNameFor(model => model.Direcao)

                    </label>*@
                <label asp-for="Direcao" class="control-label"></label>
                <select asp-for="Direcao" class="form-control">
                    <option value="true">Professor</option>
                    <option value="false">Socio</option>
                </select>

            </div>
            <div class="form-group">
                <label asp-for="Idsocio" class="control-label"> Email Socio : </label>
                <select asp-for="Idsocio" class="form-control" asp-items="ViewBag.Idsocio"></select>
            </div>
            <div class="form-group">
                <label asp-for="Idprofessor" class="control-label"> Email Professor : </label>
                <select asp-for="Idprofessor" class="form-control" asp-items="ViewBag.Idprofessor"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Voltar</a>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

