﻿@model WebApplication1.Models.Mensagem

@{
    ViewData["Title"] = "Delete";
}



<h3 style="color:red">Tem a certeza que quer eliminar mensagem ?</h3>
<div>
    <h4>Mensagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Texto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Texto)
        </dd>
        <dt class = "col-sm-2">
            Data
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLeitura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direcao)
        </dd>
        <dt class = "col-sm-2">
            Email Professor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdprofessorNavigation.Email)
        </dd class>
        <dt class = "col-sm-2">
            Email Socio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdsocioNavigation.Email)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DataEnvio" />
        <input type="hidden" asp-for="Idsocio" />
        <input type="hidden" asp-for="Idprofessor" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-controller="Home">Voltar < </a>
    </form>
</div>
