﻿@model WebApplication1.Models.Mensagem

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Mensagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Texto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Texto)
        </dd>
        <dt class = "col-sm-2">
            Data
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLeitura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direcao)
        </dd>
        <dt class = "col-sm-2">
            Email Professor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdprofessorNavigation.Email)
        </dd>
        <dt class = "col-sm-2">
            Email Socio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdsocioNavigation.Email)
        </dd>
    </dl>
</div>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <a asp-action="Index" asp-controller="Home">Voltar < </a>
</div>
