﻿@model IEnumerable<WebApplication1.Models.Mensagem>

@{
    ViewData["Title"] = "VerMensagensProf";
}

<style>

    body {
        padding-top: 0px;
        background-color: darkgray;
        background-image: url();
        background-image: url();
        background-repeat: no-repeat;
    }
</style>
<b style="text-align:Center">Mensagens </b>
<br />
<br />

<p>
    <a asp-action="Create">Criar nova Mensagem</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Texto)*@
                Mensagem
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DataLeitura)*@
                Data Leitura
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direcao)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.IdprofessorNavigation)*@
                Email Professor
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.IdsocioNavigation)*@
                Email Socio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Texto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataLeitura)
                </td>
                <td>
                    Socio
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdprofessorNavigation.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdsocioNavigation.Email)
                </td>
                <td>

                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

