﻿@model WebApplication1.Models.MapaAulasGrupo

@{
    ViewData["Title"] = "Delete";
}
    <style>
        body {
            padding-top: 0px;
            background-color: gray;
            background-image: url();
            background-image: url();
            background-repeat: no-repeat;
        }
    </style>


<h3 style="color:red">Tem a certeza que quer apagar aula de grupo ?</h3>
<div>
   
    <hr />
    <dl class="row" style="color:white">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lotacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lotacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDaSemana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDaSemana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
       
       
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdmapaAulas" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar < </a>
    </form>
</div>
<br/>
<br/>