﻿@model WebApplication1.Models.MapaAulasGrupo

@{
    ViewData["Title"] = "Details";
}

    <style>
        body {
            padding-top: 0px;
            background-color: gray;
            background-image: url();
            background-image: url();
            background-repeat: no-repeat;
        }
    </style>

<div style="color:white">
    <h4 style="color:white">Mapa de Aulas de Grupo - Detalhes </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lotacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lotacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDaSemana)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiaDaSemana)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class="col-sm-2">
            Email Professor
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdprofessorNavigation.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdmapaAulas">Editar Aula de grupo</a> |
    <a asp-action="Index">voltar < </a>
</div>
<br/>
<br/>