﻿@model WebApplication1.Models.MapaAulasGrupo

@{
    ViewData["Title"] = "Edit";
}

    <style>
        body {
            padding-top: 0px;
            background-color: gray;
            background-image: url();
            background-image: url();
            background-repeat: no-repeat;
        }
    </style>

<h4 style="color:white">Editar Mapa de Aulas de Grupo</h4>
<hr />
<div class="row" style="color:white">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdmapaAulas" />


            <div class="form-group">
                <label asp-for="Lotacao" class="control-label"></label>
                @*<input asp-for="Lotacao" class="form-control" />*@
                <select asp-for="Lotacao" class="form-control">
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                    <option value="35">35</option>
                </select>
                <span asp-validation-for="Lotacao" class="text-danger"></span>
            </div>

            <div class="form-group">
                @*<input asp-for="DiaDaSemana" class="form-control" />*@
                <label asp-for="DiaDaSemana" class="control-label"></label>
                <select asp-for="DiaDaSemana" class="form-control">
                    <option value="Segunda">Segunda</option>
                    <option value="Terca">Terça</option>
                    <option value="Quarta">Quarta</option>
                    <option value="Quinta">Quinta</option>
                    <option value="Sexta">Sexta</option>
                </select>
                <span asp-validation-for="DiaDaSemana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                @*<input asp-for="Hora" class="form-control" />*@
                <select asp-for="Hora" class="form-control">
                    <option value="08:30">08:30 h - 9:20 h</option>
                    <option value="09:30">09:30 h - 10:20 h</option>
                    <option value="10:30">10:30 h - 11:20 h</option>
                    <option value="11:30">11:30 h - 12:20 h</option>
                    <option value="12:30">12:30 h - 13:20 h</option>
                    <option value="15:00">15:00 h - 15:50 h</option>
                    <option value="16:00">16:00 h - 16:50 h</option>
                    <option value="17:00">17:00 h - 17:50 h</option>
                    <option value="18:00">18:00 h - 18:50 h</option>
                    <option value="19:00">19:00 h - 19:50 h</option>
                    <option value="20:00">20:00 h - 20:50 h</option>
                    <option value="21:00">21:00 h - 21:50 h </option>
                </select>
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">voltar < </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<br/>
<br/>