﻿@model IEnumerable<WebApplication1.Models.MapaAulasGrupo>

@{
    ViewData["Title"] = "Index";
}

    <style>
        body {
            padding-top: 0px;
            background-color: gray;
            background-image: url();
            background-image: url();
            background-repeat: no-repeat;
        }
    </style>
<p>Aulas de grupo existentes : </p>
<table class="table" style="color:white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lotacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaDaSemana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdaulasGrupoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdprofessorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lotacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaDaSemana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.IdaulasGrupoNavigation.Fotografia)*@
                <img src="~/Exercicios/item.IdaulasGrupoNavigation.Fotografia" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdprofessorNavigation.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdmapaAulas">Editar Aula de grupo</a> |
                <a asp-action="Details" asp-route-id="@item.IdmapaAulas">Detalhes da Aula de grupo</a> |
                <a asp-action="Delete" asp-route-id="@item.IdmapaAulas">Apagar Aula de grupo</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br/>
<br/>