﻿@model IEnumerable<WebApplication1.Models.MapaAulasGrupo>

@{
    ViewData["Title"] = "InscreverAula";
}

<h1>Inscrever-se na Aula de grupo : </h1>
<style>



    body {
        padding-top: 0px;
        background-color: black;
        background-image: url('imagens/thumb-1920-608041.jpg');
        background-repeat: no-repeat;
    }
</style>


<p style="color:red">Apenas se pode inscrever numa aula ate 1 hora antes de começar! </p>

<table class="table">
    <thead style="color:white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lotacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaDaSemana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdaulasGrupoNavigation)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.IdprofessorNavigation)*@
                Professor:

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lotacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaDaSemana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.IdaulasGrupoNavigation.Fotografia)*@
                <img src="~/Exercicios/item.IdaulasGrupoNavigation.Fotografia" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdprofessorNavigation.Email)
            </td>
            @*<td>
            <a asp-action="Edit" asp-route-id="@item.IdmapaAulas">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.IdmapaAulas">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.IdmapaAulas">Delete</a>
        </td>*@
            <label> Inscrever -me nesta aula : </label>
            <select >
                <option value="inscrever">inscrever</option>
            </select>
        </tr>
        }
    </tbody>
</table>
<br/>
<br/>