﻿@model WebApplication1.Models.Administrador

@{
    ViewData["Title"] = "Perfil";
}


<style>
    body {
        padding-top: 0px;
        background-color: gray;
        background-image: url();
        background-image: url();
        background-repeat: no-repeat;
    }
</style>
<h1 style="color:white;"> <b>LabGym</b> </h1>
<p style="color:white;"> Nunca é tarde demais ! </p>

<p style="text-align:right;color:white;">
    <i class="material-icons">&#9757;</i>
     Pedido de Registo 
</p>

<br />
<br />

<img src="~/Fotos/ADMIN.jpg" style="width:90px;height:90px;" />
<br />
<br />
<br />
<div>
    <p> Contactos : </p>
    <dl class="row" style="color:white">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idadministrador">Editar Perfil </a>

</div>
<br />
<br />
<br />
<br />
<br />