﻿@model IEnumerable<WebApplication1.Models.Socios>

@{
    ViewData["Title"] = "RegistoPagamento";
}

<h3>Registo de Pagamento</h3>

<p>
    <a asp-action="Create">Adicionar novo registo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fotografia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Altura)
            </th>*@
            <th>
                Nome
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PesoInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>*@
            <th>
                @*@Html.DisplayNameFor(model => model.Mensalidade)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                <img src="~/Fotos/ + model.Fotografia " />
            </td>
            <td>
                @if (@Html.DisplayNameFor(model => model.Sexo) == "true")
                {
                    <p>Feminino</p>
                }
                else
                {
                    <p>Masculino</p>
                }
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Altura)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.NomeUtilizador)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PesoInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>*@
            <td>
                @*@Html.DisplayFor(modelItem => item.Mensalidade)*@
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.Idsocio">Detalhes</a> |
               
            </td>
        </tr>
}
    </tbody>
</table>
