﻿@model WebApplication1.Models.Professores

@{
    ViewData["Title"] = "EstadoEditar";
}
    <style>
        body {
            padding-top: 0px;
            background-color: gray;
            background-image: url();
            background-image: url();
            background-repeat: no-repeat;
        }
    </style>

<p> Professor </p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EstadoEditar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idprofessor" />
            <div class="form-group">
                <label asp-for="Nome"  class="control-label"></label>
                <input asp-for="Nome" disabled="disabled"  class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" disabled="disabled"  class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" disabled="disabled"  class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fotografia" class="control-label"></label>
                <input asp-for="Fotografia" disabled="disabled" class="form-control" />
                <span asp-validation-for="Fotografia" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Especialidade" disabled="disabled"  class="control-label"></label>
                <input asp-for="Especialidade" disabled="disabled" class="form-control" />
                <span asp-validation-for="Especialidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                @*<input asp-for="Estado" class="form-control" />*@
                @*<span asp-validation-for="Estado" class="text-danger"></span>*@
                
                <select asp-for="Estado" class="form-control">
                    <option value="true">Ativo</option>
                    <option value="false">Suspenso</option>
                </select>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Alterar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<br/>
<br/>