﻿@model IEnumerable<WebApplication1.Models.Professores>

@{
    ViewData["Title"] = "Index";
}
    <style>
        body {
            padding-top: 0px;
            background-color: gray;
            background-image: url();
            background-image: url();
            background-repeat: no-repeat;
        }
    </style>

<table class="table" style="color:white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Fotografia)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Password)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    <dd class="col-sm-10">
                        <img src="~/Fotos/ + model.Fotografia " />
                    </dd>
                </td>
                <td>
                    @if (@Html.DisplayNameFor(model => model.Sexo) == "true")
                    {
                        <p>Feminino</p>
                    }
                    else
                    {
                        <p>Masculino</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Especialidade)
                </td>
                <td>
                   @if( @Html.DisplayNameFor(model => model.Estado) == "False"){
                        <p> Ativo </p>
                    }else{
                       <p>Suspenso</p>
                    }
                </td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Idprofessor">Editar professor </a> |
                    <a asp-action="Details" asp-route-id="@item.Idprofessor">Ver Detalhes do professor</a> |
                    <a asp-action="Delete" asp-route-id="@item.Idprofessor">Apagar professor</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />
<br />