﻿@model IEnumerable<WebApplication1.Models.Professores>

@{
    ViewData["Title"] = "ListarProfessores";
}

<style>

    body {
        padding-top: 0px;
        background-color: gray;
        background-image: url();
        background-image: url();
        background-repeat: no-repeat;
    }
</style>

<h1>Professores Registados</h1>


<table class="table" style="color:white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>



            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>

                    <a asp-action="EscolherPt"  asp-route-id="@item.Idprofessor">Escolher PT</a> |
                    <a asp-action="VerProfessor" asp-route-id="@item.Idprofessor">Perfil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />
<br />
<br />
<br />