﻿@model WebApplication1.Models.Professores

@{
    ViewData["Title"] = "RegistarProfessor";
}
<style>
    body {
        background-color: black;
    }
</style>



<p style="color:greenyellow; text-align:center"> O seu pedido foi aceite ! </p>
<br />
<br />
<p style="color:dodgerblue"> Registar-se como professor : </p>
<hr />
<div class="row" style="color:white">
    <div class="col-md-4">
        <form asp-action="RegistarProfessor" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fotografia" class="control-label"></label>
                <input asp-for="Fotografia" class="form-control" type="file" accept=".gif, .jpg, .bmp" />
                @*<span asp-validation-for="Fotografia" class="text-danger"></span>*@
            </div>
            <div>
                <input type="hidden" name="fotografia" value="0" />
            </div>
            <div class="form-group form-check">
                @*<label class="form-check-label">
                <input class="form-check-input" asp-for="Sexo" /> @Html.DisplayNameFor(model => model.Sexo)
            </label>*@
                <label asp-for="Sexo" class="control-label"></label>
                <select asp-for="Sexo" class="form-control">
                    <option value="true">Feminino</option>
                    <option value="false">Masculino</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Especialidade" class="control-label"></label>
                <input asp-for="Especialidade" class="form-control" />
                <span asp-validation-for="Especialidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" id="password" placeholder="password" class="form-control" />
                <input type="button" id="showPassword" value="Mostrar" class="button" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input type="text" value="1" asp-for="Estado" disabled="disabled" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index"> < Voltar </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#showPassword').on('click', function () {
                var passwordField = $('#password');
                var passwordFieldType = passwordField.attr('type');
                if (passwordFieldType == 'password') {
                    passwordField.attr('type', 'text');
                    $(this).val('Esconder');
                } else {
                    passwordField.attr('type', 'password');
                    $(this).val('Mostrar');
                }
            });
        });

    </script>
}
<br />
<br />
<br />
<br />
<br />