﻿@model WebApplication1.Models.Professores
@{
    ViewData["Title"] = "VerProfessor";
}

<style>

    body {
        padding-top: 0px;
        background-color: gray;
        background-image: url();
        background-image: url();
        background-repeat: no-repeat;
    }
</style>
<br />
<br />

<div style="color:white">


    <dl class="row">
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Fotografia)
            </dt>*@
        <dd class="col-sm-10">
            <img src="~/Fotos/ + model.Fotografia " />

        </dd>
        <br />

        <p>Contactos </p>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class="col-sm-10">
            @if (@Html.DisplayNameFor(model => model.Sexo) == "true")
            {
                <p>Feminino</p>
            }
            else
            {
                <p>Masculino</p>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Especialidade)
        </dd>

    </dl>
</div>

@*<div>

    <a asp-action="ListarProfessores">Voltar < </a>
</div>*@

<br />
<br />
<br />
<br />
<br />
<br />