﻿

@using Microsoft.AspNetCore.Http;
@using WebApplication1.Controllers;
@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/jqueryui/jquery-ui.css" rel="stylesheet" />
</head>
<body>



    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        @if (SociosController.estaAutenticado(Context))
                        {

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Socios" asp-action="PerfilSocio">Meu perfil</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Professores" asp-action="ListarProfessores">Professores</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="AulasGrupoes" asp-action="InscreverAula">Aulas</a>

                            </li>

                            <li class="nav-item">
                                <p class="nav-link text-white">Bem-vindo, @Context.Session.GetString("Nome")</p>
                            </li>

                            <li class="nav-item">
                                <form class="form-inline" asp-controller="Home" asp-action="Logout">
                                    <button type="submit" class="nav-link btn btn-link text-white">Sair</button>
                                </form>
                            </li>
                        }

                        else if (ProfessoresController.estaAutenticado(Context))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Professores" asp-action="PerfilProfessor">Meu perfil</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Socios" asp-action="ListarSocios">Socios</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="ExerciciosGinasios" asp-action="exercicios">Exercicios</a>

                            </li>
                            

                            <li class="nav-item">
                                <p class="nav-link text-white">Bem-vindo, @Context.Session.GetString("Nome")</p>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline" asp-controller="Home" asp-action="Logout">
                                    <button type="submit" class="nav-link btn btn-link text-white">Sair</button>
                                </form>
                            </li>
                        }

                        else if (AdministradoresController.estaAutenticado(Context))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Administradores" asp-action="RegistoPagamento">Registar Pagamentos</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Administradores" asp-action="Perfil">Meu perfil</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="ExerciciosGinasios" asp-action="Index">Exercicios</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Professores" asp-action="ListarProfessoresAdmin">Professores</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Socios" asp-action="ListarSociosAdmin">Socios</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="AulasGrupoes" asp-action="AdminiAulas"> Aulas </a>

                            </li>

                            <li class="nav-item">
                                <p class="nav-link text-white">Bem-vindo, @Context.Session.GetString("Nome")</p>
                            </li>

                            <li class="nav-item">
                                <form class="form-inline" asp-controller="Home" asp-action="Logout">
                                    <button type="submit" class="nav-link btn btn-link text-white">Sair</button>
                                </form>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Home" asp-action="Login">Entrar </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Registo">Registar</a>
                            </li>
                        }
                    </ul>

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Pagina Inicial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Info">Sobre nós</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="AulasDeGrupo">Aulas de Grupo</a>
                        </li>




                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p style="color:white">

                Quinta de Prados, 5001-801 Vila Real
                <abbr title="Phone"> </abbr>
                <i style='font-size:24px' class='material-icons'>&#9990;</i>
                259 345 125

                |    Horário De Funcionamento: 8:30 h ás 13:30h, 15:00h ás 22:00h, Segunda a Sexta
                <br />
                e-mail:
                <i class="material-icons">&#9993;</i>
                <a href="LabGym_2019@hotmail.com">LabGym_2019@hotmail.com</a><br />

            </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @RenderSection("Scripts", required: false)


</body>
</html>
