﻿@model IEnumerable<WebApplication1.Models.AulasGrupo>

@{
    ViewData["Title"] = "AdminiAulas";
}

<style>



    body {
        padding-top: 0px;
        background-color: darkgray;
        background-image: url();
        background-repeat: no-repeat;
    }
</style>


<p>
    <a asp-action="Create">Criar aula de grupo</a>
</p>
<table class="table" style="color:white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fotografia)
            </th>
            <th>
                Descrição
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <img src="~/Aulas/item.Fotografia " />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextoDescritivo)
                </td>
                <td>
                    @if (@Html.DisplayNameFor(model => model.Estado) == "false")
                    {

                    }
                    else
                    {
                        <p>Preenchida</p>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdaulasGrupo">Editar</a> |
                    <a asp-action="DetalhesAula" asp-route-id="@item.IdaulasGrupo">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdaulasGrupo">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />