﻿@model WebApplication1.Models.AulasGrupo

@{
    ViewData["Title"] = "Create";
}
<style>



    body {
        padding-top: 0px;
        background-color: darkgray;
        background-image: url();
        background-repeat: no-repeat;
    }
</style>


<h1>Criar Aula de Grupo</h1>


<hr />
<div class="row" style="color:white">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fotografia" class="control-label"></label>
                <input asp-for="Fotografia" type="file" class="form-control" />
                @*<span asp-validation-for="Fotografia" class="text-danger"></span>*@
            </div>
            <div>
                <input type="hidden" name="fotografia" value="0" />
            </div>
            <div class="form-group">
                <label asp-for="TextoDescritivo" class="control-label">Texto descritivo : </label>
                <input asp-for="TextoDescritivo" type="text" class="form-control" />
                <span asp-validation-for="TextoDescritivo" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                    </label>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar <</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<br />
<br />
<br />
<br />
<br />
<br />