﻿@model WebApplication1.Models.AulasGrupo

@{
    ViewData["Title"] = "Delete";
}
<style>



    body {
        padding-top: 0px;
        background-color: darkgray;
        background-image: url();
        background-repeat: no-repeat;
    }
</style>


<h3>Tem a certeza que quer eliminar esta aula de grupo ?</h3>
<div  style="color:white">

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Fotografia)*@
        </dt>
        <dd class="col-sm-10">
            <img src="~/Aulas/model.Fotografia" />
        </dd>
        <dt class="col-sm-2">
            Descrição
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TextoDescritivo)
        </dd>
        @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Estado)
            </dd>*@
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdaulasGrupo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <br/>
        <br/>
       
    </form>
</div>
<br />
<br />
<br />
<br />
<br />
<br />