﻿@model WebApplication1.Models.AulasGrupo

@{
    ViewData["Title"] = "Details";
}
<style>



    body {
        padding-top: 0px;
        background-color: darkgray;
        background-image: url();
        background-repeat: no-repeat;
    }
</style>


<h3 style="color:red">Apenas se pode inscrever numa aula de grupo ate 1 hora antes de começar! </h3>

<div  style="color:white">

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-10">
            <img src="~/Aulas/item.Fotografia " />
        </dd>
        <dt class="col-sm-2">
            Descrição
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TextoDescritivo)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estado)
            </dd>*@
    </dl>
</div>

<div>
    <p>Tem a certeza que quer se inscrever nesta aula de grupo?</p>
    <a asp-action="Inscrever" asp-route-id="@Model.IdaulasGrupo">Inscrever</a>
    <br />
    <br />
    
</div>
<br />
<br />
<br />
<br />
<br />
<br />