﻿@model WebApplication1.Models.AulasGrupo

@{
    ViewData["Title"] = "DetalhesAula";
}

<style>



    body {
        padding-top: 0px;
        background-color: darkgray;
        background-image: url();
        background-repeat: no-repeat;
    }
</style>

<div style="color:white">
    <p>Detalhes da Aula de Grupo</p>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-10">
            <img src="~/Aulas/item.Fotografia " />
        </dd>
        <dt class="col-sm-2">
            Descrição
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TextoDescritivo)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estado)
            </dd>*@
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.IdaulasGrupo">Editar</a> 
    <br/>
    <a asp-action="AdminiAulas">Voltar < </a>
</div>
<br />
<br />
<br />