﻿@model IEnumerable<WebApplication1.Models.AulasGrupo>

@{
    ViewData["Title"] = "Index";
}

<style>



    body {
        padding-top: 0px;
        background-color: darkgray;
        background-image: url();
        background-repeat: no-repeat;
    }
</style>



<table class="table"  style="color:white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fotografia)
            </th>
            <th>
                Descrição
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <img src="~/Aulas/item.Fotografia " />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextoDescritivo)
                </td>
                <td>
                    @if(@Html.DisplayNameFor(model => model.Estado) == "false"){
                        
                    }
                    else
                    {
                    <p>Preenchida</p>
                    }
                </td>
                <td>
                    
                    <a asp-action="Details" asp-route-id="@item.IdaulasGrupo">Detalhes</a> 
                   
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />
<br />
<br />
<br />