﻿@model IEnumerable<WebApplication1.Models.AulasGrupo>

@{
    ViewData["Title"] = "InscreverAula";
}

<h3>Inscrever-se numa Aula de grupo : </h3>
<style>



    body {
        padding-top: 0px;
        background-color: darkgray;
        background-image: url();
        background-repeat: no-repeat;
    }
</style>

<p style="color:red">Apenas se pode inscrever numa aula ate 1 hora antes de começar! </p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Fotografia)*@
            </th>
            <th>
                Descrição
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <img src="~/Aulas/item.Fotografia " />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextoDescritivo)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Estado)*@
                    @if (item.Estado == true)
                    {
                        <a asp-action="Details" asp-route-id="@item.IdaulasGrupo"> Increver </a>
                    }
                    else
                    {
                        <p style="color:red">Preenchida ! </p>
                    }
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />
<br />
<br />
<br />