﻿@model WebApplication1.Models.AulasGrupo

@{
    ViewData["Title"] = "Inscrever";
}

<style>



    body {
        padding-top: 0px;
        background-color: darkgray;
        background-image: url();
        background-repeat: no-repeat;
    }
</style>


<div>
    <h4 style="text-align:center; color:green">Inscrito!</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-10">
            <img src="~/Aulas/item.Fotografia" />
        </dd>
        <dt class="col-sm-2">
            Descrição
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TextoDescritivo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            Inscrito
        </dd>
    </dl>
</div>
<div>

    <a asp-action="InscreverAula">Voltar < </a>
</div>
<br />
<br />
<br />
<br />
<br />
<br />