﻿
@{
    ViewData["Title"] = "AceptRegisto";
}
    <style>



        body {
            padding-top: 0px;
            background-color: black;
            background-image: url('imagens/thumb-1920-608041.jpg');
            background-repeat: no-repeat;
        }
    </style>
<h1 style="color:white" >Aguarde a confirmação do seu registo! </h1>

<small > <a asp-controller="Home" asp-action="EscolhaUser"> Confirmar Email! (Como Administrador) </a> </small>
