﻿@model IEnumerable<WebApplication1.Models.AulasGrupo>

@{
    ViewData["Title"] = "AulasDeGrupo";
}

<style>
    body {
        padding-top: 0px;
        background-color: black;
        background-image: url();
        background-image: url();
        background-repeat: no-repeat;
    }
</style>

<h1 style="color:white">Aulas De Grupo</h1>
<br />
<br />

<table class="table" style="color:white; text-align:center">
    <thead>
        <tr>
            
                <td> </td>
                <td> <b>Segunda</b> </td>
                <td> <b>Terça</b></td>
                <td><b>Quarta</b></td>
                <td><b>Quinta</b></td>
                <td><b>Sexta</b></td>
            

        </tr>
        <tr>
            <td>8:30 h - 9:20 h</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Barriga Killer</td>
            <td> </td>
        </tr>
        <tr>
            <td>9:30 h - 10:20 h</td>
            <td>CROSS</td>
            <td>ZUMBA</td>
            <td>HIT FIT</td>
            <td></td>
            <td>HIT FIT</td>
        </tr>
        <tr>
            <td>10:30 h - 11:20 h</td>
            <td>BUM BUM FIT</td>
            <td></td>
            <td>SPINNING</td>
            <td></td>
            <td>PILATES</td>
        </tr>
        <tr>
            <td>11:30 h - 12:20 h</td>
            <td></td>
            <td>BuUM BUM FIT</td>
            <td>ZUMBA</td>
            <td>SPINNING</td>
            <td>PILATES</td>
        </tr>
        <tr>

            <td>12:30 h - 13:20 h</td>
            <td>HIT FIT</td>
            <td>PILATES</td>
            <td>BARRIGA KILLERr</td>
            <td> </td>
            <td>BUM BUM FIT</td>
        </tr>
        <tr>

            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>

            <td>15:00 h - 15:50 h</td>
            <td>ZUMBA</td>
            <td>SPINNING</td>
            <td></td>
            <td>BUM BUM FIT </td>
            <td></td>
        </tr>
        <tr>
            <td>16:00 h - 16:50 h</td>
            <td></td>
            <td>BARRIGA KILLER</td>
            <td>HIT FIT</td>
            <td>CROSS </td>
            <td>ZUMBA</td>
        </tr>
        <tr>
            <td>17:00 h - 17:50 h</td>
            <td>BUM BUM FIT</td>
            <td>CROSS</td>
            <td>SPINNING</td>
            <td> </td>
            <td>BARRIGA KILLER </td>
        </tr>
        <tr>
            <td>18:00 h - 18:50 h</td>
            <td>SPINNING</td>
            <td>HIT FIT</td>
            <td>PILATES</td>
            <td>SPINNING</td>
            <td> </td>
        </tr>
        <tr>

            <td>19:00 h - 19:50 h</td>
            <td>PILATES</td>
            <td></td>
            <td>BUM BUM FIT</td>
            <td>CROSS</td>
            <td> </td>
        </tr>
        <tr>

            <td>20:00 h - 20:50 h</td>
            <td>BARRIGA KILLER</td>
            <td>ZUMBA
            <td></td>
            <td> </td>
            <td>HIT FIT </td>
        </tr>
        <tr>
            <td>21:00 h - 21:50 h </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>BARRIGA KILLER</td>
            <td> </td>
        </tr>

        </thead>
        <tbody>
            @*@foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                            @if (item.Nome == "Barriga Killer")
                            {
                            <td style="background-color:yellow; color:Black;">  </td>

                        }
                            @if (item.Nome == "CROSS")
                            {
                                <td style="background-color:purple; color:Black;">  </td>

                            }
                            @if (item.Nome == "ZUMBA")
                            {
                                <td style="background-color:red; color:Black;">  </td>

                            }
                            @if (item.Nome == "HIT FIT")
                            {
                                <td style="background-color:palegreen; color:Black;">  </td>

                            }
                            @if (item.Nome == "BUM BIM FIT")
                            {
                                <td style="background-color:orange; color:Black;">  </td>

                            }
                            @if (item.Nome == "SPINNIG")
                            {
                                <td style="background-color:lawngreen; color:Black;">  </td>

                            }
                            @if (item.Nome == "PILATES")
                            {
                                <td style="background-color:deepskyblue; color:Black;">  </td>

                            }*@

            </td>

            </tr>
            }
        </tbody>
    </table>
<br />
<br />
<br />
<br />