﻿
@{
    ViewData["Title"] = "EscolhaUser";
}

<style>
        body {
            background-color: black
        }

        img {
            width: 50%;
        }
   
</style>

<table>
    <tr>
        <td >
            <a href="~/Professores/RegistarProfessor"><img src="~/Imagens/istockphoto-675179390-612x612.jpg" class="imagem" /> <br/> Registar como professor </a>
        </td>
        <td>
            <a href="~/Socios/RegistarSocio"><img src="~/Imagens/alongamento-anterior-coxa.jpg" class="imagem" /> <br /> Registar como socio </a>
        </td>
    </tr>
</table>

