﻿

@{
    ViewData["Title"] = "Index";
}


<head>
    <span style="color:white;" id="timer"> @DateTime.Now </span>
</head>
<br />
<br />
<br />
<h1 style="color:white;"> <b>LabGym</b> </h1>


<p style="color:white;"> Nunca é tarde demais ! </p>
<br />

<h3 style="text-align:right;color:white;"> <b>Define o teu corpo,</b> </h3>
<h3 style="text-align:right;color:white;"> <b>        Define a tua vida !</b>  </h3>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="text-center">

    <p style="color:blue; text-align:center;">
        <img src="~/Imagens/Icon_Informacao.jpg" style="width:90px;height:90px;" class="imagem" />
        <b style="color:white ; text-align:center">
            O NOSSO COMPROMISSO É ORIENTADO AOS TEUS OBJETIVOS  </br>
            UMA EQUIPA FOCADA NA TUA MOTIVAÇÃO,DESEMPENHO E RESULTADOS.</br>
            TUDO A QUE TENS DIREITO E SEM CONTRATO DE FIDELIZAÇÃO!!
        </b>
    </p>
</div>

<style>



    body {
        padding-top: 0px;
        background-color: black;
        background-image: url('imagens/thumb-1920-608041.jpg');
        background-repeat: no-repeat;
    }
</style>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

@section Scripts {
    <script>
        setInterval(function () { // é programada uma funçao q de segundo em segundo explota uma ação q executa um metodo automaticamente
            $('#timer').text(new Date().toLocaleTimeString())
        }, 1000);
    </script>
    <script>

    </script>

}

