﻿
@{
    ViewData["Title"] = "Info";
}
<style>
    body {
        padding-top: 0px;
        background-color: black;
        background-image: url();
        background-image: url();
        background-repeat: no-repeat;
    }
</style>
<h1 style="color:white" >Contactos : </h1>

<address>
    <p style="color:white" >
        Encontra-nos !<br />
        Quinta de Prados, 5001-801 Vila Real
        <br />
        <abbr title="Phone"> </abbr>
        <i style="font-size:24px" class="material-icons">&#9990; </i>
        259 345 125
    </p>
</address>

<p style="color:white"
   Horário De Funcionamento
    <br />
    8:30 h ás 13:30h
    <br />
    15:00h ás 22:00h
    <br />
    Segunda a Sexta
</p>

<address>

    <i class="material-icons">&#9993;</i>
    <a href="LabGym_2019@hotmail.com">LabGym_2019@hotmail.com</a><br />
</address>

<br/>
<br/>
<div>
    <a asp-action="Index"> < Voltar </a>
</div>