﻿
@{
    ViewData["Title"] = "Login";
}



<style>
    body {
        padding-top: 0px;
        background-color: gray;
        background-image: url();
        background-image: url();
        background-repeat: no-repeat;
    }
</style>
<h1 style="color:white;"> <b>LabGym</b> </h1>


<p style="color:white;"> Nunca é tarde demais ! </p>
<br />



<p></p>
<table border="0" style="height: 315px; width: 100%; border-collapse: collapse; border-style: hidden; text-align:center" height="76">
    <tr>
        <td>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">

                        <form asp-action="Login" asp-controller="Home" method="post" style="display: inline-block">
                            <div class="form-group">
                                <label style="color:white">Nome utilizador</label>
                                <input type="text" class="form-control" id="user" name="user" placeholder="Utilizador" required>
                            </div>
                            <div class="form-group">
                                <label><p style="color:white">Password</p></label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                                <input type="button" id="showPassword" value="Mostrar" class="button" style="text-align:left" />
                            </div>
                            <div id="remember" class="checkbox">
                                <label> Lembrar-me <input type="checkbox" value="remember-me"> </label>

                                <div class="form-check">
                                    <button type="submit" value="create " class="btn btn-default" style=" color:white; background-color:blue" href="~/Home/Index">Entrar </button>

                                </div>
                        </form>
                        <br />
                        <br />
                        <small style="color:white; text-align:left; font-family: Georgia, 'Times New Roman', Times, serif"> Ainda não tem conta?  <br /> <b> <a href="~/Home/Registo"> Registe-se aqui < </a> </b> </small>

                    </div>
                </div>
            </div>
        </td>
        @if (TempData["mensagemErro"] != null)
        {
            <div class="field-error">
                @TempData["mensagemErro"]
            </div>
        }
    </tr>
</table>
<br />
<br />
<br />
<br />
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#showPassword').on('click', function () {
                var passwordField = $('#password');
                var passwordFieldType = passwordField.attr('type');
                if (passwordFieldType == 'password') {
                    passwordField.attr('type', 'text');
                    $(this).val('Esconder');
                } else {
                    passwordField.attr('type', 'password');
                    $(this).val('Mostrar');
                }
            });
        });

    </script>
    
   
}

