﻿
@{
    ViewData["Title"] = "Registo";
}

<h2 style=" color:white">Pedido de Registo :</h2>
<br/>
<style>



    body {
        padding-top: 0px;
        background-color: black;
        background-image: url('imagens/thumb-1920-608041.jpg');
        background-repeat: no-repeat;
    }
</style>

<script type="text/javascript">
    function check() {
        var email = document.getElementById("email").value
        var email2 = document.getElementById("email_ver").value
        if (email == email2)
            return true;
        else
            alert("Os emails inseridos são diferentes.");
        return false;
    }
</script>
<div>
    <form name="Registo" action="" method="post" onsubmit="return check()" style=" color:white">
        <label>Nome : </label>
        <input type="text" name="Nome" required />
        <br />
        <label>Email : </label>
        <input type="email" id="email" name="Email" required />
        <br />
        <label>Confirmar Email : </label>
        <input type="email" id="email_ver" name="Email2" required />
        
        <br />
        <br />
        <input type="checkbox" name="Aceitou" required> I have read all the rules and I accept them... <br /><br />
        <input type="submit" name="submit-btn" value="Registar" style=" color:white; background-color:blue" />
    </form>
</div>
<br/>
<div>
    <a asp-action="Index"> < Voltar </a>
</div>