﻿@model WebApplication1.Models.Socios

@{
    ViewData["Title"] = "Details";
}

    <style>
        body {
            padding-top: 0px;
            background-color: gray;
            background-image: url();
            background-image: url();
            background-repeat: no-repeat;
        }
    </style>

<div style="color:white">
    <h4>Detalhes Socios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Fotografia)*@
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Fotos/ + model.Fotografia " />
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Sexo)*@
            @if (@Html.DisplayNameFor(model => model.Sexo) == "0")
            {
                <p>Feminino</p>
            }
            else
            {
                <p>Masculino</p>
            }
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.Sexo)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeUtilizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeUtilizador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesoInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoInicial)
        </dd>
        
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>*@
    </dl>
</div>
<div>
    
    <a asp-action="Index" asp-controller="Home">Voltar <</a>
</div>
