﻿@model WebApplication1.Models.Socios

@{
    ViewData["Title"] = "EditarDadosSocio";
}



<div>
    <h4 style="text-align:center">Perfil Socio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Fotografia)*@
        </dt>
        <dd class="col-sm-10">
            <img src="~/Fotos/model.Fotografia" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class="col-sm-10">
            @if (@Html.DisplayNameFor(model => model.Sexo) == "false")
            {
                <p>Feminino</p>
            }
            else
            {
                <p>Masculino</p>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeUtilizador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PesoInicial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PesoInicial)
        </dd>
        <dt class="col-sm-2">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @if (@Html.DisplayNameFor(model => model.Estado) == "true")
            {
                <p> Ativo </p>
            }
            else
            {
                <p>Suspenso</p>
            }
        </dd>
    </dl>
</div>
 </div>
<br />
<br />
<br />
<html>

<body>

    <table>
        <tr>
            <td style="text-align:center">Plano de exercicios :</td>
        </tr>
        <tr >
            <td colspan="3">
                <textarea id="inputTextToSave" style="width:150px;height:200px"></textarea>
            </td>
        </tr>
        <tr>


            <td style="text-align:center">
                <button onclick="saveTextAsFile()">Guardar</button>
            </td>
        </tr>

    </table>

    
        Histórico de Aulas de grupo :
        <br />
        <textarea disabled="disabled" style="width:150px;height:200px"> </textarea>
    

    <table >
        <tr>
            <td style="text-align:center">HistoricoPeso :</td>
        </tr>
        <tr style="text-align:right">
            <td colspan="3">
                <textarea id="inputTextToSave2" style="width:150px;height:200px"></textarea>
            </td>
        </tr>
        <tr>


            <td style="text-align:center">
                <button onclick="saveTextAsFile2()">Guardar</button>
            </td>
        </tr>

    </table>

</body>

</html>


<br />
<br />
<br />
<br />
<br />
<br />

<div>

    <a asp-action="ListarSocios">Voltar <</a>
</div>
@section Scripts {
    <script>
        function saveTextAsFile() {
            var textToWrite = document.getElementById("inputTextToSave").value;
            var textFileAsBlob = new Blob([textToWrite], {
                type: 'text/plain'
            });


            var downloadLink = document.createElement("a");
            downloadLink.download = "Planoexercicios";
            downloadLink.innerHTML = "Download File";
            if (window.webkitURL != null) {
                // Chrome allows the link to be clicked
                // without actually adding it to the DOM.
                downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
            } else {
                // Firefox requires the link to be added to the DOM
                // before it can be clicked.
                downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
                downloadLink.onclick = destroyClickedElement;
                downloadLink.style.display = "none";
                document.body.appendChild(downloadLink);
            }

            downloadLink.click();
        }

        function destroyClickedElement(event) {
            document.body.removeChild(event.target);
        }

        //function loadFileAsText() {
        //    var fileToLoad = document.getElementById("fileToLoad").files[0];

        //    var fileReader = new FileReader();
        //    fileReader.onload = function (fileLoadedEvent) {
        //        var textFromFileLoaded = fileLoadedEvent.target.result;
        //        document.getElementById("inputTextToSave").value = textFromFileLoaded;
        //    };
        //    fileReader.readAsText(fileToLoad, "UTF-8");
        //}

        function saveTextAsFile2() {
            var textToWrite = document.getElementById("inputTextToSave2").value;
            var textFileAsBlob = new Blob([textToWrite], {
                type: 'text/plain'
            });


            var downloadLink = document.createElement("a");
            downloadLink.download = "HistoricoPeso";
            downloadLink.innerHTML = "Download File";
            if (window.webkitURL != null) {
                // Chrome allows the link to be clicked
                // without actually adding it to the DOM.
                downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
            } else {
                // Firefox requires the link to be added to the DOM
                // before it can be clicked.
                downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
                downloadLink.onclick = destroyClickedElement;
                downloadLink.style.display = "none";
                document.body.appendChild(downloadLink);
            }

            downloadLink.click();
        }
        function destroyClickedElement(event) {
            document.body.removeChild(event.target);
        }
    </script>
}