﻿@model WebApplication1.Models.Socios

@{
    ViewData["Title"] = "EfetuarPagamento";
}
    <style>
        body {
            padding-top: 0px;
            background-color: gray;
            background-image: url();
            background-image: url();
            background-repeat: no-repeat;
        }
    </style>
<h2>Efetuar Pagamento de contas </h2>

<div style="color:white">
   
    <hr />
    <dl class="row">
        
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeUtilizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeUtilizador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesoInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoInicial)
        </dd>
        
    </dl>
</div>
<div>
    
    <a asp-action="Index">Voltar < </a>
</div>
