﻿@model IEnumerable<WebApplication1.Models.Socios>

@{
    ViewData["Title"] = "ListarSociosAdmin";
}

<style>

    body {
        padding-top: 0px;
        background-color: gray;
        background-image: url();
        background-image: url();
        background-repeat: no-repeat;
    }
</style>

<h1>Socios Registados</h1>


<table class="table" style="color:white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fotografia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.NomeUtilizador)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    <img src="~/Fotos/item.Fotografia " />
                </td>
                <td>
                    @if (@Html.DisplayNameFor(model => model.Sexo) == "false")
                    {
                        <p>Feminino</p>
                    }
                    else
                    {
                        <p>Masculino</p>
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NomeUtilizador)
                </td>


                <td>
                    @if (@Html.DisplayNameFor(model => model.Estado) == "true")
                    {
                        <p> Ativo </p>
                    }
                    else
                    {
                        <p>Suspenso</p>
                    }
                </td>

                <td>

                    <a asp-action="Details" asp-route-id="@item.Idsocio">Perfil</a> |
                    <a asp-action="EditarEstadoSocio" asp-route-id="@item.Idsocio">Estado</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
