﻿
@model WebApplication1.Models.Socios
@{
    ViewData["Title"] = "PerfilSocio";
}

<style>
    body {
        padding-top: 0px;
        background-color: darkgray;
        background-image: url();
        background-image: url();
        background-repeat: no-repeat;
    }
</style>
<h1 style="color:white;"> <b>LabGym</b> </h1>
<p style="text-align:right;color:white;">
    <i class="material-icons">&#9997;</i>
    <a href="~/Mensagems/VerMensagensSocio"> Mensagens </a>
</p>

<br />
<br />
<hr />
<div style="text-align:right">
    <a asp-action="VerPT"  asp-controller="PersonalTrainers" asp-route-id="@Model.Idsocio">Ver perfil PT</a>

</div>
<div>


    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Fotografia)*@
        </dt>
        <dd class="col-sm-10">
            <img src="~/Fotos/model.Fotografia" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Sexo)*@
            @if (Model.Sexo == false)
            {
                <p>Feminino</p>
            }
            else
            {
                <p>Masculino</p>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeUtilizador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeUtilizador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PesoInicial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PesoInicial)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mensalidade)
        </dt>*@
        @*<dd class="col-sm-10">

            @if (Model.Mensalidade == false)
            {
                <p>Nao Paga</p>
            }
            else
            {
                <p>Paga</p>
            }
        </dd>*@


    </dl>
    <br />
    <br />
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Idsocio">Editar perfil</a>

    </div>
    <br />
    <br />
    <br />
    <div>
        <p style="text-align:left">Plano de exercicios : </p>
        <textarea disabled="disabled"> </textarea>
        <p style="text-align:center">
            Histórico de Aulas de grupo :
            <br />
            <textarea disabled="disabled"> </textarea>
        </p>

        <p style="text-align:right">
            Histórico de peso :
            <br />
            <textarea disabled="disabled"> </textarea>
        </p>
    </div>
</div>

<br />
<br />
<br />
<br />