﻿@model WebApplication1.Models.PersonalTrainer

@{
    ViewData["Title"] = "Delete";
}

    <style>
        body {
            padding-top: 0px;
            background-color: gray;
            background-image: url();
            background-image: url();
            background-repeat: no-repeat;
        }
    </style>

<h3 style="color:red"> Quer Apagar este personal trainer ? </h3>
<div style="color:white">
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdprofessorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdprofessorNavigation.Email)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdsocioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdsocioNavigation.Email)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idprofessor" />
        <input type="hidden" asp-for="Idsocio" />
        <input type="hidden" asp-for="DataPedido" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index"> Voltar <</a>
    </form>
</div>
