﻿@model WebApplication1.Models.PersonalTrainer

@{
    ViewData["Title"] = "Edit";
}

    <style>
        body {
            padding-top: 0px;
            background-color: gray;
            background-image: url();
            background-image: url();
            background-repeat: no-repeat;
        }
    </style>

<h4 style="color:white"> Dados - Adotou este  Personal Trainer : </h4>
<hr />
<div class="row" style="color:white">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idprofessor" />
            <input type="hidden" asp-for="Idsocio" />
            <input type="hidden" asp-for="DataPedido" />
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label">Data Inicio :</label>
                <input asp-for="DataInicio" disabled="disabled"   class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label">Data Fim :</label>
                <input asp-for="DataFim" disabled="disabled"  class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar <</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
