﻿@model WebApplication1.Models.PersonalTrainer

@{
    ViewData["Title"] = "VerPT";
}


<style>
    body {
        padding-top: 0px;
        background-color: darkgray;
        background-image: url();
        background-image: url();
        background-repeat: no-repeat;
    }
</style>

<div>
    <h4>Personal Trainer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Data de inicio :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>

        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdprofessorNavigation.Email)
        </dd>

    </dl>
</div>
<div>

    <a asp-action="PerfilSocio" asp-controller="Socios">Voltar</a>
</div>
