﻿@model WebApplication1.Models.ExerciciosGinasio

@{
    ViewData["Title"] = "Delete";
}
    <style>



        body {
            padding-top: 0px;
            background-color: darkgray;
            background-image: url();
            background-repeat: no-repeat;
        }
    </style>

<h3 style="color:red"> Tem a certeza que quer eliminar este exercicio ?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            Descrição
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TextoDescritivo)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Foto)*@
        </dt>
        <dd class="col-sm-10">
            <img src="~/Exercicios/model.Foto" />
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Video)*@
        </dt>
        <dd class="col-sm-10">
            <video src="~/Exercicios/model.Video" />
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdexerciciosGinasio" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        
    </form>
</div>
<br />
<br />
<br />
<br />
<br />
<br />