﻿@model WebApplication1.Models.ExerciciosGinasio

@{
    ViewData["Title"] = "Details";
}

    <style>



        body {
            padding-top: 0px;
            background-color: darkgray;
            background-image: url();
            background-repeat: no-repeat;
        }
    </style>

<div>
    <h4>Exercicio de Ginasio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            Descrição
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TextoDescritivo)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Foto)*@
        </dt>
        <dd class="col-sm-10">
            <img src="~/Exercicios/model.Foto" />
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Video)*@
        </dt>
        <dd class="col-sm-10">
            <img src="~/Exercicios/model.Video" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdexerciciosGinasio">Editar exercicio</a> |
  
</div>
<br />
<br />
<br />
<br />
<br />
<br />