﻿@model WebApplication1.Models.ExerciciosGinasio

@{
    ViewData["Title"] = "Edit";
}

    <style>



        body {
            padding-top: 0px;
            background-color: darkgray;
            background-image: url();
            background-repeat: no-repeat;
        }
    </style>

<p>Editar exercicio</p>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdexerciciosGinasio" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextoDescritivo" class="control-label">Descrição</label>
                <input asp-for="TextoDescritivo" class="form-control" />
                <span asp-validation-for="TextoDescritivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" type="file" class="form-control" accept=".png, .jpg, .bmp" value="" />
                @*<span asp-validation-for="Foto" class="text-danger"></span>*@

                <div>
                    <input type="hidden" name="fotografia" value="0" />
                </div>
                <div class="form-group">
                    <label asp-for="Video" class="control-label"></label>
                    <input asp-for="Video" type="file" class="form-control" />
                    @*<span asp-validation-for="Video" class="text-danger"></span>*@
                </div>
                <div>
                    <input type="hidden" name="video" value="0" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<br />
<br />
<br />
<br />
<br />
<br />