﻿@model IEnumerable<WebApplication1.Models.ExerciciosGinasio>

@{
    ViewData["Title"] = "exercicios";
}

<style>



    body {
        padding-top: 0px;
        background-color: darkgray;
        background-image: url();
        background-repeat: no-repeat;
    }
</style>


<p>
    <a asp-action="Create">Criar novo exercicio </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Descrição
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextoDescritivo)
                </td>
                <td>
                    <img src="~/Exercicios/item.Foto" />
                </td>
                <td>
                    <video src="~/Exercicios/model.Video" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdexerciciosGinasio">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdexerciciosGinasio">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdexerciciosGinasio">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />
<br />
<br />
<br />
